main {
  margin: 2em;
  font-family: Verdana, sans-serif;
}

.top-header {
  font-size: 3em;
  background: #0D6986;
  color: white;
  margin: 0;
  padding: 1em;  
  font-family: 'Brush Script MT', cursive;
  font-style: italic;
}

.chart {
    margin: auto;
    max-width: 70%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline;
  background: #3D7996;
  float: left;
}

nav li.active {
  background-color: #04AA6D;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.4em 0.6em;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  filter: drop-shadow(6px 6px 10px gray);
}

.unreachable {
  background: orange;
}

.light-slider {
  margin-left: 2em;
}
